.footer {
  color: white;
  background-color: var(--blue-blackground);
  margin: 0 auto;
  padding: 1.5em;
}

.footer__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.footer__locations {
  text-align: left;
}

.footer__discover,
.contact__title {
  text-transform: uppercase;
}

.locations__list--left,
.locations__list--right {
  line-height: 2em;
  padding-left: 0;
}

.locations__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__discover {
  margin-bottom: 0;
}

.locations__link:hover {
  color: var(--custom-orange);
}

.footer__newsletter {
  font-size: 0.8rem;
  position: relative;
}
.footer__subscribe {
  font-weight: 300;
  margin-bottom: 0.5em;
}
.footer__form {
  display: flex;
}

.footer__input {
  font-size: 0.9rem;
  padding: 1.1em;
  background-color: #0b163b;
  color: white;
  width: 100%;
  border-style: none;
  resize: vertical;
}

.footer__input::placeholder {
  color: #ccc;
}

.footer__submit {
  padding: 1.2em;
  background-color: var(--custom-orange);
  color: white;
  overflow: hidden;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.footer__submit:hover {
  background-color: white;
  color: var(--custom-orange);
}

.footer__submit:active {
  transform: scale(0.98);
}

.footer__contact {
  font-size: 0.9rem;
}

.contact__title {
  margin-bottom: 0.5em;
}

.contact__address {
  font-weight: 300;
}

.contact__links {
  display: flex;
  flex-direction: column;
  color: var(--custom-orange);
  font-size: 1rem;
}

.contact__link {
  margin-top: 0.5em;
}

.contact__link:hover {
  color: white;
}

.footer__copyright {
  background-color: #14335c;
  color: white;
  padding: 1em 3em;
  font-size: 0.5rem;
  font-weight: 300;
  text-align: center;
}

.footer__popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.popup__container {
  padding: 4em 3em 0 3em;
  height: 16rem;
  width: 38%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #ccc;
  position: relative;
}

.fa-check {
  background-color: #94ca50;
  font-size: 5rem;
  padding: 0.2em;
  border-radius: 70px;
  position: absolute;
  top: -13%;
}

.popup__title {
  color: #636363;
  font-size: 2.8rem;
  margin: 0.3em;
}

.popup__description {
  color: #747474;
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
}

.popup__close {
  background-color: #94ca50;
  border: 1px solid #94ca50;
  color: white;
  border-radius: 10px;
  font-size: 1.8rem;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
}

.popup__close:hover {
  background-color: white;
  color: #94ca50;
}

.popup__close:active {
  transform: scale(0.98);
}

.footer__btn {
  padding: 0.5em;
  max-width: 40%;
  font-size: 1rem;
  border-style: none;
  background-color: var(--custom-orange);
  color: white;
  margin-top: .5em;
}

.footer__btn:hover {
  background-color: white;
  color: var(--custom-orange);
}

@media screen and (min-width: 700px) and (max-width: 1120px) {
  .footer__container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    place-content: center;
  }
  .locations__flex {
    display: flex;
    justify-content: flex-start;
  }
  .locations__list--right {
    margin-left: 3em;
  }
}

@media screen and (min-width: 320px) and (max-width: 1000px) {
  .popup__container {
    min-width: 40%;
  }
  .fa-check {
    font-size: 4.3rem;
  }
  .popup__title {
    font-size: 2.2rem;
    margin-top: 0;
  }
  .popup__close {
    padding: 0.1em 2.5em;
    margin-top: 0.5em;
  }
}

@media screen and (min-width: 320px) and (max-width: 650px) {
  .popup__container {
    min-width: 45%;
  }
  .fa-check {
    font-size: 3.8rem;
  }
  .popup__title {
    font-size: 2rem;
  }
  .popup__description {
    font-size: 1.3rem;
  }
  .popup__close {
    padding: 0.1em 2.5em;
    margin-top: 0.5em;
  }
}

@media screen and (min-width: 320px) and (max-width: 430px) {
  .popup__container {
    min-width: 75%;
    padding: 2em 1em 0 1em;
  }
  .fa-check {
    font-size: 3.6rem;
  }
  .popup__title {
    font-size: 1.7rem;
  }
  .popup__description {
    font-size: 1.2rem;
    margin-bottom: 0;
  }
  .popup__close {
    padding: 0.1em 2em;
    margin-top: 0.9em;
  }
}

@media screen and (min-width: 320px) and (max-width: 700px) {
  .footer {
    display: flex;
    justify-content: center;
    padding: 1em;
  }
  .footer__container {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
  }
  .footer__discover {
    text-align: left;
  }
  .footer__btn {
    max-width: 40%;
  }
}
