.hero {
  height: 100vh;
  background-image: url(/img/images/background-web.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nav {
  padding: 0.5em;
  padding-top: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--nav-height);
  background-color: transparent;
  transition: transform 0.2s;
  z-index: 999;
}

.nav-scroll {
  background-color: white;
}

.nav--hidden {
  transform: translateY(-100%);
}

.mobile__nav {
  display: none;
}

.logo {
  width: min(50vw, 200px);
  background-color: rgba(255, 255, 255, 0.8);
}

.logo-white {
}

.nav__items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.8rem;
  color: white;
  text-shadow: var(--text-shadow);
}

.nav__item {
  padding: 0 1em;
  margin: 0 1em;
}

.nav__link {
  position: relative;
}

.nav__link::after {
  content: "";
  position: absolute;
  background-color: #ff3c78;
  height: 2px;
  min-width: 0;
  left: 0;
  bottom: -8px;
  transition: 0.3s;
}

.nav__link:hover::after {
  min-width: 100%;
}

.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 8em;
}

.header__title,
.header__description {
  color: white;
  text-shadow: var(--text-shadow);
}

.header__title {
  font-size: 8rem;
  font-weight: 600;
  margin: 0;
  padding-bottom: 0.5em;
}
.header__description {
  font-size: 3rem;
}
.header__cta {
  padding: 1.2em 3em;
  display: inline-block;
  color: white;
  background-color: var(--secondary-color);
  border: 1px white solid;
  box-shadow: inset 0 0 0 0 var(--secondary-color);
  transition: ease-out 0.4s;
}

.header__cta:hover {
  box-shadow: inset 400px 0 0 0 white;
  color: var(--secondary-color);
}

.header__anchor {
  font-size: 2rem;
}

.burger__cta {
  background-color: transparent;
  display: none;
}

.burger__cta:active {
  transform: scale(0.98);
}

.form {
  display: flex;
  padding: 1em;
  margin-top: 5em;
  border-bottom: 1px solid var(--primary-color);
  border-left: 1px solid var(--primary-color);
  border-right: 1px solid var(--primary-color);
  background-color: white;
}

.input__destination,
.check-in,
.check-out,
.input__people {
  padding: 0.5em;
  margin-left: 0.5em;
  width: 100%;
  border: 1px solid #1174c9;
  color: #1174c9;
}

.check-in {
}
.check-out {
}
.input__people::placeholder {
  color: #1174c9;
}

.search__cta {
  color: white;
  background-color: var(--secondary-color);
  border: 1px var(--secondary-color) solid;
  box-shadow: inset 0 0 0 0 var(--secondary-color);
  transition: ease-out 0.2s;
  padding: 0.5em 2em;
  margin-left: 0.5em;
}

.search__cta:hover {
  box-shadow: inset 0 0 0 300px white;
  color: var(--secondary-color);
}

/* Mobile nav  */
@media screen and (min-width: 320px) and (max-width: 1020px) {
  .mobile__nav {
    position: absolute;
    display: inline-flex;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    z-index: 999;
    background-image: url(/img/images/mobile_nav.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: ease-out 0.5s;
    transform: translateY(-100%);
  }

  .mobile__nav--open {
    transform: translateX(0);
  }

  .mobile__nav--close {
    transform: translateY(-100%);
  }

  .close__cta {
    background-color: transparent;
    position: absolute;
    top: 1em;
    right: 2em;
    color: white;
    text-shadow: var(--text-shadow);
  }

  .close__cta:hover {
    color:antiquewhite;
  }

  .close__cta:active {
    transform: scale(0.98);
  }

  .menu__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: white;
    text-shadow: var(--text-shadow);
    width: 100vw;
    height: 70vh;
    margin-top: 6em;
    padding: 0;
    letter-spacing: 3px;
  }

  .menu__item:hover {
    border-radius: 12px;
    color:antiquewhite;
  }

  .menu__item {
    font-size: 2rem;
  }

  .menu__link {
    padding-left: 0.3em;
  }
}

@media screen and (min-width: 320px) and (max-width: 520px) {
  .hero {
    background-image: url(/img/images/background-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .logo {
    height: 4em;
  }

  .header__title {
    margin-top: 0.5em;
    font-size: 4rem;
    font-weight: 500;
  }

  .header__description {
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
  }

  .header__cta {
    padding: 1.5em 1em;
    font-size: 0.5rem;
    margin-top: 3em;
  }

  .header__cta:hover {
    box-shadow: inset 300px 0 0 0 white;
    color: var(--secondary-color);
  }

  .form {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 7em;
    place-content: center;
    border-style: none;
  }

  .input__destination,
  .check-in,
  .check-out,
  .input__people {
    margin-left: 0;
  }

  .search__cta {
    margin: 0.4em 0 0 0;
    width: 50%;
  }

  .burger__cta {
    display: block;
  }
  .nav__items {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 420px) {
  .burger__cta {
    padding-left: 3em;
  }

  .burger__img {
    width: 90%;
  }
}

/* Tablet Query */
@media screen and (min-width: 520px) and (max-width: 1020px) {
  .hero {
    background-image: url(/img/images/background-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .header__title {
    margin-top: 0.5em;
    font-size: 5.5rem;
    font-weight: 500;
  }

  .header__description {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
  }

  .header__cta {
    padding: 2em 3em;
    font-size: 0.5rem;
  }

  .form {
    margin-top: 11em;
  }

  .burger__cta {
    display: block;
  }
  .nav__items {
    display: none;
  }
}

@media screen and (min-width: 520px) and (max-width: 980px) {
  .form {
    display: grid;
    grid-template-columns: 2fr 2fr;
    place-content: center;
    border-style: none;
    gap: 0.5em;
  }

  .input__destination,
  .check-in,
  .check-out,
  .input__people {
    margin-left: 0;
  }

  .search__cta {
    margin: 0.4em 0 0 0;
    width: 70%;
    min-width: 50%;
  }

  .header__cta:hover {
    box-shadow: inset 300px 0 0 0 white;
    color: var(--secondary-color);
  }
}
