.reviews {
  background-color: var(--blue-blackground);
  color: white;
  margin-bottom: 3em;
  text-shadow: var(--text-shadow);
  overflow: hidden;
  padding-left: 2em;
  padding-right: 2em;
}

.reviews__title {
  margin: 0 0 0.5em 0;
  padding: 0.2em 0 0 0;
  font-size: 5rem;
}

.reviews__subtitle {
  font-size: 2rem;
  margin-bottom: 1.5em;
}

.reviews__title,
.reviews__subtitle {
  text-align: center;
}

.reviews__card {
  background-color: #1d4879;
  padding: 1.5em;
  margin: 0 1em 4em 1em;
  cursor: grab;
  height: 70%;
}

#swiper-slide {
  height: auto;
}

.reviews__star,
.reviews__half-star {
  color: #fdcb6e;
  font-size: 1.2rem;
}

.reviews__review {
  margin: 0.9em 0;
  margin-bottom: 1em;
  font-size: 1.4rem;
  line-height: 1.4;
}

.reviews__critic {
  font-size: 1.5rem;
  margin: 0;
  position: absolute;
  bottom: 2em;
  left: 1.5em;
}

@media screen and (min-width: 320px) and (max-width: 670px) {
  .reviews__subtitle {
    margin-bottom: 2em;
  }
}

@media screen and (min-width: 320px) and (max-width: 780px) {
  .reviews {
    padding-left: 0.8em;
    padding-right: 0.8em;
  }
  .reviews__title {
    font-size: 4rem;
  }
  .reviews__subtitle {
    font-size: 1.9rem;
  }
  .reviews__card {
    margin-left: 1em;
    margin-right: 1em;
  }
  .reviews__review {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 300px) and (max-width: 570px) {
  .reviews__title {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 865px) {
  .reviews__critic {
    bottom: 3em;
  }
}

@media screen and (min-width: 320px) and (max-width: 420px) {
  .reviews__title {
    font-size: 3rem;
  }
  .reviews__subtitle {
    font-size: 1.6rem;
  }
  .reviews__card {
    margin-left: 0;
    margin-right: 0;
  }
  .reviews__review {
    font-size: 1.3rem;
  }
  .reviews__star,
  .reviews__half-star {
    font-size: 1.1rem;
  }
  .reviews__critic {
    font-size: 1.4rem;
    left: 1em;
  }
}
